    <footer class="footer">
        <ul class="row menu nav">
            <div class="container">
                <li class="col-xs-6 col-md-2">
                    <img style="margin-top: 12px; width:40px;" src="https://steem.io/images/icons/steem-badge-1.svg">
                    <p style="line-height:2rem;">
                        &copy; 2016 Steemit Inc.
                    </p>
                </li>

            <li class="col-xs-6 col-md-2 col-md-offset-2">
                <h2>USING STEEM</h2>
                <ul>
                    <li><a target="_blank" href="https://www.steemit.com">Community App</a></li>
                    <li><a target="_blank" href="https://steemd.com">Block Explorer</a></li>
                    <li><a href="https://steem.io/documentation/">Documentation</a></li>
                    <li><a target="_blank" href="http://github.com/steemit">Github</a></li>
                </ul>
            </li>

            <li class="col-xs-6 col-md-2">
               <h2>STEEM</h2>
               <ul>
                    <li><a href="https://steem.io/#intro-ex">Exchanges</a></li>
                    <li><a href="https://steem.io/roadmap/">Roadmap</a></li>
                    <li><a href="https://steem.io/blog/">Blog</a></li>
                </ul>
            </li>

            <li class="col-xs-6 col-md-2">
                <h2>LEGAL</h2>
                <ul>
                    <li><a href="https://steem.io/">User Agreement</a></li>
                    <li><a href="https://steem.io/">Privacy</a></li>
                </ul>
            </li>


             <li class="col-xs-6 col-md-2">
                <h2>SOCIAL</h2>
                <ul>
                    <li><a target="_blank" href="https://steem.slack.com/">Slack</a></li>
                    <li><a target="_blank" href="https://www.reddit.com/r/steemit">Reddit</a></li>
                    <li><a target="_blank" href="https://twitter.com/steemchain">Twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/steemit">Facebook</a></li>
                    <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=1410943.0">Bitcointalk</a></li>
                </ul>
            </li>

            <li class="col-xs-6 col-md-2">

            </li>
        </ul>
    </div>

    </footer>

    <script src="https://steem.io/js/bootstrap.js"></script>
    <script src="https://steem.io/js/main.js"></script>
    <script src="https://steem.io/js/salvattore.min.js"></script>
    <script src="https://steem.io/js/animatedModal.min.js"></script>
    <script src="https://steem.io/js/jquery.viewportchecker.js"></script>

    <script>
    $("div.navbar-fixed-top").autoHidingNavbar();
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script>

    $(document).ready(function() {
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);

      });
         $('.vpc').viewportChecker();
    });

    </script>
