<div class="navbar navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://steem.io/"><img class="logo img-responsive" src="https://steem.io/images/icons/steem-icon-typo.svg"  alt="SteemIt Logo" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="https://steem.io/">Home</a></li>
                <li><a href="https://steem.io/#join">Join</a></li>
                <li><a href="https://steem.io/#video">Video</a></li>
                <li><a href="https://steem.io/#whitepaper">White Paper</a></li>
                <li><a href="https://steem.io/#faq">FAQ</a></li>
                <li><a  href="https://steem.io/#rewards">Rewards</a></li>
                <li><a  href="https://steem.io/#exchanges">Exchanges</a></li>
            </ul>
        </div>
    </div>
</div>